/*============
  Main Style
============*/

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  background-color: #222;
}
body {
  background: url('../images/trees_768x1024.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  margin: 0;
  padding: 1em 0;
  color: #FEE342;
  background: #0A6232;
/*  border-bottom: 2px solid #CEB312;*/
}
header div, h1 {
  padding: 0 .5em;
}
header img {
/*  width: 100%;*/
  height: 100px;
}
h2.large, p.large {
  display: none;
}
h1 {
  display: flex;
  flex-direction: column;
/*  padding: 0;*/
  margin: 0;
  line-height: 1.1em;
}
h1 {
  text-align: left;
  margin: 0;
}
h1, h2, legend, label, button {
  font-family: 'Montserrat', sans-serif;
}
h2, p{
  text-align: center;
}
h2 {
  margin-top: 0;
  font-size: 1.3em;
  color: #0A6232;
  margin: 0;
  position: relative;
  top: .5em;
/*  align-self: center;*/
}
h2.large {
  color: #FEE342;
}
.page-message p, p.large {
  color: rgb(255, 247, 216);
  text-shadow: 1px 1px 1px rgba(22, 44, 22, .2);
}
.page-message {
  background: #CEB312;
  padding: .25em;
  border-bottom: 1px solid #9E8300;
}
hr {
  border-color: rgb(255, 247, 216);
  margin: 1.5em;
}
fieldset, legend {
  border: none;
  margin: 25px auto;
}
fieldset {
  background: rgba(22, 22, 22, .6);
}
legend {
  color: rgb(255, 247, 216);
  background: #0A6232;
  border-bottom: 1px solid #003202;
  border-right: 1px solid #003202;
  padding: .5em;
  margin: .5em;
  -ms-transform: skewX(-15deg); /* IE 9 */
  -webkit-transform: skewX(-15deg); /* Safari */
  transform: skewX(-15deg);
  position: relative;
  top: .33em;
}
label {
  color: rgba(254, 227, 66, .9);
  text-shadow: 0px 0px 4px rgba(22, 22, 22, .7);
}
input, select {
  background: rgba(22, 22, 22, .7);
  font-family: 'Hind', sans-serif;
}
select {
/*  margin-left: 1em;*/
  height: 2.5em;
  line-height: 1em;
  padding: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
}
.state-select {
  color: red;
}
.contact-info label {
  display: block;
  margin-top: .9em;
}
.contact-info input, .contact-info select {
  display: block;
  width: 100%;
}
.contact-info input::-webkit-input-placeholder {
  text-align:right;
  font-style: italic;
}
.contact-info input:-moz-placeholder {
  text-align:right;
  font-style: italic;
}
label.label-title {
  display: block;
  color: rgb(255, 247, 216);
  padding: 1em 0;
  text-shadow: 2px 2px 5px rgba(22, 22, 22, .9);
}
label[for="other_topics"] {
  display: block;
  color: rgb(255, 247, 216);
  padding: 1em 0 .5em;
/*  margin: 0;*/
  text-shadow: 2px 2px 5px rgba(22, 22, 22, .9);
}
textarea {
  resize: none;
/*  padding: 0;*/
  width: 100%;
  background: rgba(22, 22, 22, .7);
}
input[type=checkbox], input[type=radio] {
  opacity: 0;
  float: left;
  width: 1em;
/*  height: 55px;*/
}
input[type=checkbox] + label, input[type=radio] + label {
  margin: 0;
  line-height: 45px;
  clear: both;
  padding: 15px 65px;
}
input[type=radio] + label {
  background: url('../images/radio_off.png') left center no-repeat;
  transition: background .2s ease;
}
input[type=checkbox] + label {
  background: url('../images/check_off.png') left center no-repeat;
  transition: background .2s ease;
}
input[type=radio]:checked + label {
  background: url('../images/radio_on.png') left center no-repeat;
}
input[type=checkbox]:checked + label {
  background: url('../images/check_on.png') left center no-repeat;
}
input[type=checkbox] + label:hover, input[type=radio] + label:hover {
  cursor: pointer;
}
input[type=text], input[type=tel], input[type=email], textarea, select {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid rgba(225, 225, 225, .2);
  color: rgb(255, 247, 216);
  box-shadow: inset 1px 1px 6px 2px rgba(22, 22, 22, .5);
}
input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, textarea:focus, select:focus, button:focus {
  outline: 1px solid rgba(225, 225, 225, .5);
/*  border: 1px solid yellow;*/
  box-shadow: 0 0 5px 1px rgba(225, 225, 225, .3);
}
.btn-submit {
  width: 100%;
  text-align: center;
/*  cursor: pointer;*/
}
button {
  border: none;
  width: calc(100% - 2em);
  padding: 1em 1.5em;
  margin: 0 1em;
  color: #FEE342;
  background: #0A6232;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 2px rgba(22, 22, 22, .5);
  transition: background .2s;
}
button:hover {
  background: #0A5222;
  color: #FEE362;
  cursor: pointer;
}

footer {
  background: #222;
  color: rgb(255, 247, 216);
  text-shadow: 0px 0px 4px rgba(22, 22, 22, 1);
  margin-top: 100px;
/*  margin-bottom: 0;*/
}
footer p {
  margin: 0;
  padding: 1em 0 2em;
}

/*=========
  Flexbox
=========*/
header {
  display: flex;
  justify-content: center;
}


/*===============
  Media Queries
===============*/

@media screen and (min-width: 768px) {
  
  hr {
    max-width: 540px;
    margin: 1.5em auto;
  }
  
  fieldset {
    max-width: 540px;
/*    align-self: center;*/
    margin: 50px auto 0px;
  }
  legend {
    margin-left: 2em;
  }
  button {
    max-width: 540px;
    margin-top: 1em;
  }
  .contact-info label {
    display: inline-block;
    margin: 2em 1em 0;
    width: 140px;
    text-align: right;
  }
  .contact-info input, .contact-info select {
    display: inline;
    width: 330px;
/*    padding: 0;*/
/*    align-self: flex-start;*/
  }
  label.label-title {
    margin-left: 1.5em;
  }
  label[for="other_topics"] {
    padding: 1em 1.5em .5em;
  }
  textarea {
    max-width: calc(540px - 4em);
    margin: auto 1.5em;
  }
}

@media screen and (min-width: 1024px) {
 
  header {
/*    max-width: 1024px;*/
    padding-left: calc(50vw - 480px - 4em);
    padding-right: calc(50vw - 480px - 4em);
    flex-direction: row;
/*    align-items: center;*/
/*    justify-content: flex-start;*/
    border-bottom: 1px solid #003202;
  }
  hr {
    max-width: calc(960px + 2em);
  }
  .header-large {
    display: flex;
    flex-direction: column;
/*    margin-right: auto;*/
    flex: 1;
/*    text-align: center;*/
/*    align-self: center;*/
  }
  header h1 {
    margin-right: auto;
  }
  .logo {
    margin-left: 2em;
  }
  h2.large, p.large {
    display: inline-flex;
    flex: 1;
    align-self: center;
/*    text-align: right;*/
  }
  div.page-message {
    display: none;
  }
  form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
  }
  fieldset {
    max-width: 480px;
    margin: 0;
    flex: 1;
  }
  textarea {
    max-width: calc(480px - 4em);
    margin: auto 1.5em;
  }
  .contact-info label {
    width: 130px;
  }
  .contact-info input, .contact-info select {
    width: 280px;
  }  
  button {
    max-width: 480px;
  }

}