/*============
  Main Style
============*/

*, *:before, *:after {
  box-sizing: border-box;
}
img {
/*  width: 100%;*/
}
body {
  background: url(/images/trees_768x1024.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  margin: 0;
  padding: 1em 0;
  color: #FEE342;
  background: #0A6232;
/*  border-bottom: 2px solid #CEB312;*/
}
header div, h1 {
  padding: 0 .5em;
}
header img {
/*  width: 100%;*/
  height: 100px;
}
h1 {
  display: flex;
  flex-direction: column;
/*  padding: 0;*/
  margin: 0;
  line-height: 1.1em;
}
h1 p {
  text-align: left;
  margin: 0;
}
h1, h2, legend, label, button {
  font-family: 'Montserrat', sans-serif;
}
h2, p{
  text-align: center;
}
h2 {
  margin-top: 0;
  font-size: 1.3em;
  color: #0A6232;
  margin: 0;
  position: relative;
  top: .5em;
/*  align-self: center;*/
}
.page-message p {
  color: rgb(255, 247, 216);
  text-shadow: 1px 1px 1px rgba(22, 44, 22, .2);
}
.page-message {
  background: #CEB312;
  padding: .25em;
  border-bottom: 1px solid #9E8300;
}
hr {
  border-color: rgb(255, 247, 216);
  margin: .5em;
}
fieldset, legend {
  border: none;
}
fieldset {
  background: rgba(22, 22, 22, .5)
}
legend {
  color: rgb(255, 247, 216);
  background: #0A6232;
  padding: .5em;
  margin: .5em;
  -ms-transform: skewX(-15deg); /* IE 9 */
  -webkit-transform: skewX(-15deg); /* Safari */
  transform: skewX(-15deg);
  position: relative;
  top: .33em;
}
label {
  color: rgba(254, 227, 66, .8);
  text-shadow: 1px 1px 1px rgba(22, 22, 22, .3);
}
input {
  background: rgba(22, 22, 22, .7);
  font-family: 'Hind', sans-serif;
}
.contact-info label {
  display: block;
  margin-top: .9em;
}
.contact-info input {
  display: block;
  width: 100%;
}
.contact-info input::-webkit-input-placeholder {
  text-align:right;
  font-style: italic;
}
.contact-info input:-moz-placeholder {
  text-align:right;
  font-style: italic;
}
label.label-title {
  display: block;
  color: rgb(255, 247, 216);
  padding: 1em 0;
  text-shadow: 2px 2px 5px rgba(22, 22, 22, .9);
}
label[for="other_topics"] {
  display: block;
  color: rgb(255, 247, 216);
  padding: 1em 0 .5em;
/*  margin: 0;*/
  text-shadow: 2px 2px 5px rgba(22, 22, 22, .9);
}
textarea {
  resize: none;
/*  padding: 0;*/
  width: 100%;
  background: rgba(22, 22, 22, .7);
}
input[type=checkbox], input[type=radio] {
  opacity: 0;
  float: left;
  width: 2em;
/*  height: 55px;*/
}
input[type=checkbox] + label, input[type=radio] + label {
  margin: 0;
  line-height: 75px;
  clear: none;
  /* Left padding makes room for image */
  padding: 55px 65px;
  /* Make look clickable because they are */
  cursor: pointer;
}
input[type=radio] + label {
  background: url(/images/radio_off.png) left center no-repeat;
  transition: .2s ease;
}
input[type=checkbox] + label {
  background: url(/images/check_off.png) left center no-repeat;
  transition: .2s ease;
}
input[type=radio]:checked + label {
  background: url(/images/radio_on.png) left center no-repeat;
}
input[type=checkbox]:checked + label {
  background: url(/images/check_on.png) left center no-repeat;
}
input[type=text], input[type=tel], input[type=email], textarea {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid rgba(225, 225, 225, .2);
  color: rgb(255, 247, 216);
  box-shadow: inset 1px 1px 6px 2px rgba(22, 22, 22, .5);
}
.btn-submit {
  width: 100%;
  text-align: center;
}
button {
  border: none;
  width: calc(100% - 2em);
  padding: 1em 1.5em;
  margin: 2em 1em;
  color: #FEE342;
  background: #0A6232;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 2px rgba(22, 22, 22, .5);
}
footer {
  color: #FEE342;
  text-shadow: 0px 0px 4px rgba(22, 22, 22, 1);
}

/*=========
  Flexbox
=========*/
header {
  display: flex;
  justify-content: center;
}